/*MEDIA QUERY STYLE GUIDE

0 - 600PX: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1440px: Desktop
1800px+ : Big Desktop

1em = 16px: 
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 0.5;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 90em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0 5rem;
  background-color: #fafafa; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-size: 16px;
  color: #222;
  font-family: 'Lato', sans-serif; }

.section__btn {
  height: 4.5rem;
  width: 15rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  background-color: #141414;
  color: #fafafa;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s; }
  .section__btn:hover {
    background-color: #fafafa;
    color: #141414;
    border: 1px solid #141414; }
  .section__btn:active {
    transform: translateY(1rem); }
  .section__btn-container {
    position: relative; }
  .section__btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 15rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #141414;
    transition: all .5s; }
    @media (max-width: 56.25em) {
      .section__btn::after {
        display: none; } }
  .section__btn--animated {
    animation: moveInBottom 1s ease-in .75s;
    animation-fill-mode: backwards; }
  .section__btn:hover::after {
    transform: scale(1.2);
    opacity: 0; }

.hidden {
  display: none !important;
  transform: translateY(-5rem); }

.active {
  display: visible; }

.hide {
  transition: all 1s;
  display: none !important; }

.navigation__links-dropdown {
  list-style-type: none;
  background-color: #fff;
  color: #696969;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(105, 105, 105, 0.1), -0.6rem -0.6rem 1rem rgba(105, 105, 105, 0.1);
  margin-top: 2rem;
  font-weight: 400;
  position: absolute;
  transform: translateX(-5rem);
  display: visible;
  transition: all .8s;
  transition: all 2s; }
  @media (max-width: 56.25em) {
    .navigation__links-dropdown {
      transform: translateX(0);
      display: block;
      width: 100%;
      box-shadow: none;
      z-index: 200;
      position: relative;
      margin-top: 0; } }
  .navigation__links-dropdown--company {
    transform: translateX(0); }
  .navigation__links-dropdown-item {
    padding: .5rem; }
    @media (max-width: 56.25em) {
      .navigation__links-dropdown-item {
        z-index: 200;
        padding: 1rem; } }
    .navigation__links-dropdown-item:hover {
      color: #222;
      font-weight: 600; }
  .navigation__links-dropdown-icon {
    margin-right: 1rem; }

.section__container {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10rem;
  justify-content: center;
  margin-bottom: 5rem; }
  @media (max-width: 56.25em) {
    .section__container {
      grid-template-columns: auto;
      column-gap: 0;
      padding: 5rem 2rem; } }
  @media (max-width: 37.5em) {
    .section__container {
      padding: 2rem; } }

.section__introduction {
  margin-top: 8rem;
  padding: 0 5rem;
  max-height: 60rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section__introduction {
      text-align: center;
      width: 100%;
      padding: 0; } }
  @media (max-width: 37.5em) {
    .section__introduction {
      margin-top: 2rem; } }

.section__image-container {
  max-height: 60rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .section__image-container {
      grid-row: 1;
      max-width: 100%; } }

.section__image--item {
  max-height: 60rem; }
  @media (max-width: 56.25em) {
    .section__image--item {
      width: 90vw; } }
  @media (max-width: 37.5em) {
    .section__image--item {
      width: 100vw;
      max-height: 40vh; } }

.section__header {
  margin: 5rem 0;
  line-height: 7rem;
  width: 88%;
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  font-weight: 900; }
  @media (max-width: 56.25em) {
    .section__header {
      margin: 5rem 0;
      width: 100%; } }
  @media (max-width: 37.5em) {
    .section__header {
      font-size: 4rem;
      margin: 2rem 0;
      line-height: 4rem; } }

.section__description {
  max-width: 35rem;
  margin: 5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #696969; }
  @media (max-width: 56.25em) {
    .section__description {
      max-width: 80%;
      font-size: 2rem;
      font-weight: 600;
      margin: 0 auto;
      margin-bottom: 3rem; } }
  @media (max-width: 37.5em) {
    .section__description {
      max-width: 100%;
      margin: 3rem 0; } }

.section__sponsors {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto; }
  @media (max-width: 56.25em) {
    .section__sponsors {
      position: relative;
      margin-top: 10rem; } }
  .section__sponsors:not(:last-child) {
    margin-right: 2rem; }
  .section__sponsors > img {
    max-width: 15rem;
    max-height: 6rem;
    display: inline-block;
    margin: 0 auto; }
    @media (max-width: 37.5em) {
      .section__sponsors > img {
        max-width: 8rem; } }

.navigation {
  height: 6rem;
  display: flex;
  padding: 1rem 0;
  cursor: pointer; }
  .navigation__logo {
    margin-right: 2rem;
    padding: 1rem 2rem; }
  .navigation__links {
    display: flex;
    justify-content: space-between;
    flex-grow: 4; }
    @media (max-width: 56.25em) {
      .navigation__links {
        flex-direction: column;
        justify-content: start;
        height: 100%;
        width: 70%;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200; } }
    .navigation__links--container {
      display: flex;
      list-style-type: none; }
      @media (max-width: 56.25em) {
        .navigation__links--container {
          flex-direction: column;
          margin: 5rem 2rem 2rem 0;
          margin-left: 2rem;
          margin-bottom: 2rem; } }
    .navigation__links-item {
      padding: 1rem 2rem;
      color: #696969;
      font-weight: 700;
      transition: all .8s; }
      .navigation__links-item:hover {
        color: #222; }
      .navigation__links-item--icon {
        margin-left: .5rem; }
  .navigation__user--container {
    display: flex;
    list-style-type: none;
    color: #696969; }
    @media (max-width: 56.25em) {
      .navigation__user--container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .navigation__user-item {
    padding: 1rem 2rem;
    font-weight: 700; }
    .navigation__user-item--login {
      margin-right: 3rem; }
      @media (max-width: 56.25em) {
        .navigation__user-item--login {
          margin-right: 0; } }
      .navigation__user-item--login:hover {
        color: #141414; }
    .navigation__user-item--register {
      border: 1px solid #696969;
      border-radius: 1rem;
      transition: all .5s; }
      .navigation__user-item--register:hover {
        background-color: #141414;
        color: #fafafa; }
      .navigation__user-item--register:active {
        transform: translateY(0.5rem); }
  .navigation__button {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 300;
    text-align: center;
    cursor: pointer;
    display: none; }
    @media (max-width: 56.25em) {
      .navigation__button {
        display: inline-block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__icon {
    position: relative; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #7a7a7a;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      transition: all .2s;
      left: 0; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    transform: translateY(-0.5rem); }
  .navigation__button:hover .navigation__icon::after {
    transform: translateY(0.5rem); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }
  .navigation__checkbox:checked [class*="__links"] {
    display: none; }
