.navigation {
   height: 6rem;
   display: flex;
   justify-content: space-between;
   padding: 1rem 0;
   cursor: pointer;


   &__logo {
      margin-right: 2rem;
      padding: 1rem 2rem;
   }

   &__links {
      display: flex;

      &--container {
         display: flex;
         list-style-type: none;
      }

      &-item {
         padding: 1rem 2rem;
         color: $color-mid-gray;
         font-weight: 700;
         transition: all .8s;

         &:hover {
            color: $color-typography;
         }
   
         &--icon {
            margin-left: .5rem;
         }
      }
   }

   &__user {

      &--container {
         display: flex;
         list-style-type: none;
         color: $color-mid-gray;
      }

      &-item {
         padding: 1rem 2rem;
         font-weight: 700;

         &--login {
            margin-right: 3rem;

            &:hover {
               color: $color-black-2;
            }
         }

         &--register {
            border: 1px solid $color-mid-gray;
            border-radius: 1rem;
            transition: all .5s;

            &:hover {
               background-color: $color-black-2;
               color: $color-white-2;
            }
         }
      }
   }
}